@import url("https://fonts.googleapis.com/css?family=Play:400,700");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 25px;
}

::selection {
  background: #fff700;
  color: #000;
}

body {
  font-family: "Play", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  color: #8b8b8b;
  background-color: #0c0f13;
}

a {
  color: #545454;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #8b8b8b;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
  color: #8b8b8b;
}

.scrollContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

div.nav-container {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateX(2.2em) rotate(90deg);
  z-index: 9999;
}

div.nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

a.nav-item {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid rgba(115, 115, 115, 0.8);
  margin: 0 4px;
}

a.nav-item:hover {
  border: 1px solid rgba(100, 100, 100, 0.8);
}

a.nav-item.active {
  background-color: rgba(115, 115, 115, 0.8);
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(115, 115, 115, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

@media screen and (min-width: 53em) {
  body {
    overflow: hidden;
    font-size: 0.85rem;
  }

  div.nav-container {
    display: block;
  }
}
